.navbarAndSidebar{
  margin-top: 76px;
}

/* FOR NAVBAR PART */
.navbarContainer{
  background: #fff;
  z-index: 20;
  display: flex;
  height: 76px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 11px 15px -3px rgba(0,0,0,0.81); 
  box-shadow: 0px 11px 15px -3px rgba(0,0,0,0.81);
}
.navbarContainerWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 70px;
}
.navbarContainerItems{
  display: flex;
}
.navbarContainerLeft{
  display: flex;
  align-items: center;
}
.navbarContainerHamburger{
  padding-right: 16px;
}
.navbarContainerLogo{
  width: 106px;
  height: auto;
}
/* .navbarContainerMiddle{
  display: none;
} */

.navbarContainerRight{
  padding: 0;
}
.navbarContainerRightItems{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 48px;
}
.navbarContainerRightItem{
  padding-left: 25px;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}
.navbarContainerRightItem:hover{
  text-shadow: 2px -2px 5px white;
}
.navlink{
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  text-decoration: none;
}
.activeNavlink{
  color: var(--color-orange);
}





/* FOR SIDEBAR PART */
.sidebarBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  z-index: 999;
}
.setSidebarForToggle{
  z-index: 999999;
  position: fixed;
  height: 100vh;
  width: 480px;
  overflow: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 20px; 
  background: white;
}
.sidebarTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SidebarItems{
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SidebarItem{
  padding-top: 1rem;
  transition: all 0.3s ease-in-out;
}
.SidebarItem:hover{
  opacity: 0.8;
}
.link{
  text-decoration: none;
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  text-decoration: none;
}






.transform{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transitionAll{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration{transition-duration: 300ms;}

.translateForSidebar{
  --tw-translate-x: 0px;
}

.translateForSidebarNeg{
  --tw-translate-x: -100%;
}





@media (min-width: 1280px) { 
    /* .navbarContainerHamburger{
        display: none;
    } */
    /* .setSidebarForToggle{
      display: none;
    } */
}
@media (max-width: 1279px) { 
    /* .navbarContainerMiddle{
      display: none;
    }
    .navbarContainerRightItems{
        display: none;
    } */
}
@media (max-width: 800px) { 
  .setSidebarForToggle{
    width: 280px;
  }
}
@media (max-width: 648px) {
  .navbarContainerWrapper{
      padding: 0 48px;
  }
  .navbarContainerLogo{
    width: 84px;
    height: auto;
  }
}
@media (max-width: 524px) {
  .navbarContainerWrapper{
      padding: 0 24px;
  }
}



